---
import { format } from "date-fns"
import TagList from "./TagList.astro"

interface Props {
  entry: {
    title: string,
    date: Date,
    description: string,
    url: string,
    tags: string[],
  }
}

const { title, date, description, url, tags } = Astro.props.entry;

const prettyDate = format(date, 'LLLL d, yyyy');
---
<div class="relative my-8">
  <span class="text-2xl bold"><a href={`archive/${url}`}>{title}</a></span>
  <p class="py-1">{description}</p>
  <div class="text-slate-400 text-sm">
  <span class="mr-2">Published: {prettyDate},</span>
  <span class="mr-2">Tags: {<TagList tags={tags} />}</span>
</div>
